<form role="search" method="post" id="searchform" action="{{ path('rechercheProduits')}}">
    {{ form_widget(form.recherche) }}
    {{ form_widget(form) }}
    <button class="fa fa-search" type="submit" id="searchsubmit"></button>
</form>
 

