 <!-- Products -->
      
      <div class="products">
        <div class="cl">&nbsp;</div>
       
            <ul> 
                {% for i in 0..10 %}
          <li> <a href="#"><img src="css/images/big1.jpg" alt="" /></a>
            <div class="product-info">
              <h3>LOREM IPSUM</h3>
              <div class="product-desc">
                <h4>WOMEN’S</h4>
                <p>Lorem ipsum dolor sit<br />
                  amet</p>
                
                <button class="btn btn-primary"><strong class="price">$58.99</strong></button></div>
             
            </div>
          </li>
          
       {% endfor %}   
        </ul>
      
        <div class="cl">&nbsp;</div>
      </div>
      
      <!-- End Products -->