<div class="col-sm-3 aside">
    <div class="widget">
    <h3 class="widget-title">Brands</h3>
        <div class="widget-body">
            <ul class="list-unstyled">
                    <li>
                        
                        <input type="checkbox" name="brands" id="brands-abs" value="">
                            <label for=""><span></span> A.B.S. by Allen Schwartz</label>
                    </li>
            </ul>
        </div>
    </div> 
</div>
        <!-- brands widget -->
    
 