{% extends '::layout/layout.html.twig' %}

{% block body %}
    		<div class="container">
		<div id="content">
			<div class="row">
				<div class="col-sm-9 pull-right">
					<div class="beta-promobox beta-promobox-b">
						<h2 class="pull-left">{{ page.titre }}</h2>
						<a class="beta-btn beta-btn-white pull-right primary mt5" href="#">Purchase Now <i class="fa fa-chevron-right"></i></a>
						<div class="clearfix"></div>
					</div> <!-- .beta-promobox -->
					<div class="space50">&nbsp;</div>
                                        <p>{{ page.contenu }}</p>
					<div class="space20">&nbsp;</div>
					<hr>
					<div class="space20">&nbsp;</div>

					<div class="row">
						<div class="col-sm-4">
							<div class="ratio-1x1 beta-features">
								<div class="ratio-content">
									<i class="auto-center fa fa-lightbulb-o"></i>
									<div class="indicator-bottom"></div>
								</div>
							</div>
							<h5 class="other-title text-center mt30">Creative</h5>
						</div>
						<div class="col-sm-4">
							<div class="ratio-1x1 beta-features">
								<div class="ratio-content">
									<i class="auto-center fa fa-clock-o"></i>
									<div class="indicator-bottom"></div>
								</div>
							</div>
							<h5 class="other-title text-center mt30">Experimental</h5>
						</div>
						<div class="col-sm-4">
							<div class="ratio-1x1 beta-features">
								<div class="ratio-content">
									<i class="auto-center fa fa-star"></i>
									<div class="indicator-bottom"></div>
								</div>
							</div>
							<h5 class="other-title text-center mt30">Perfect</h5>
						</div>
					</div>

					<div class="space20">&nbsp;</div>
					<hr>
					<div class="space20">&nbsp;</div>

					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit 
					aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto.</p>
					<div class="space20">&nbsp;</div>

					<div class="row">
						<div class="col-sm-7">
							<h5 class="other-title">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</h5>
							<div class="space20">&nbsp;</div>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
						</div>
						<div class="col-sm-5">
							<div class="panel-group" id="accordion">
							  <div class="panel panel-default">
							    <div class="panel-heading">
							      <h4 class="panel-title">
							        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
							          Vision &amp; Mission <span class="accordion-circle"><i class="fa fa-plus"></i></span>
							        </a>
							      </h4>
							    </div>
							    <div id="collapseOne" class="panel-collapse collapse">
							      <div class="panel-body">
							        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							      </div>
							    </div>
							  </div>
							  <div class="panel panel-default">
							    <div class="panel-heading">
							      <h4 class="panel-title">
							        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
							          Our Philosophy <span class="accordion-circle"><i class="fa fa-plus"></i></span>
							        </a>
							      </h4>
							    </div>
							    <div id="collapseTwo" class="panel-collapse collapse">
							      <div class="panel-body">
							        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							      </div>
							    </div>
							  </div>
							  <div class="panel panel-default">
							    <div class="panel-heading">
							      <h4 class="panel-title">
							        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
							          Services We Offer <span class="accordion-circle"><i class="fa fa-plus"></i></span>
							        </a>
							      </h4>
							    </div>
							    <div id="collapseThree" class="panel-collapse collapse">
							      <div class="panel-body">
							        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							      </div>
							    </div>
							  </div>
							  <div class="panel panel-default">
							    <div class="panel-heading">
							      <h4 class="panel-title">
							        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
							          Awards &amp; Certifications <span class="accordion-circle"><i class="fa fa-plus"></i></span>
							        </a>
							      </h4>
							    </div>
							    <div id="collapseFour" class="panel-collapse collapse">
							      <div class="panel-body">
							        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							      </div>
							    </div>
							  </div>
							</div> <!-- end of accordion -->
						</div>
					</div>
					<div class="space20">&nbsp;</div>
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit 
					aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto.</p>
				</div>
				<div class="col-sm-3">
					<ul class="aside-menu">
						<li><a href="#">Typography</a></li>
						<li><a href="#">Buttons</a></li>
						<li><a href="#">Dividers</a></li>
						<li><a href="#">Columns</a></li>
						<li><a href="#">Icon box</a></li>
						<li><a href="#">Notifications</a></li>
						<li><a href="#">Progress bars and Skill meter</a></li>
						<li><a href="#">Tabs</a></li>
						<li><a href="#">Testimonial</a></li>
						<li><a href="#">Video</a></li>
						<li><a href="#">Social icons</a></li>
						<li><a href="#">Carousel sliders</a></li>
						<li><a href="#">Custom List</a></li>
						<li><a href="#">Image frames &amp; gallery</a></li>
						<li><a href="#">Google Maps</a></li>
						<li><a href="#">Accordion and Toggles</a></li>
						<li class="is-active"><a href="#">Custom callout box</a></li>
						<li><a href="#">Page section</a></li>
						<li><a href="#">Mini callout box</a></li>
						<li><a href="#">Content box</a></li>
						<li><a href="#">Computer sliders</a></li>
						<li><a href="#">Pricing &amp; Data tables</a></li>
						<li><a href="#">Process Builders</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- #content -->
	</div> <!-- .container -->
      <!--customjs-->
<!--customjs-->
	<script type="text/javascript">
    $(function() {
        // this will get the full URL at the address bar
        var url = window.location.href;

        // passes on every "a" tag
        $(".main-menu a").each(function() {
            // checks if its the same on the address bar
            if (url == (this.href)) {
                $(this).closest("li").addClass("active");
				$(this).parents('li').addClass('parent-active');
            }
        });
    });   


</script>
<script>
	 jQuery(document).ready(function($) {
                'use strict';
				
// color box

//color
      jQuery('#style-selector').animate({
      left: '-213px'
    });

    jQuery('#style-selector a.close').click(function(e){
      e.preventDefault();
      var div = jQuery('#style-selector');
      if (div.css('left') === '-213px') {
        jQuery('#style-selector').animate({
          left: '0'
        });
        jQuery(this).removeClass('icon-angle-left');
        jQuery(this).addClass('icon-angle-right');
      } else {
        jQuery('#style-selector').animate({
          left: '-213px'
        });
        jQuery(this).removeClass('icon-angle-right');
        jQuery(this).addClass('icon-angle-left');
      }
    });
				});
	</script>
{% endblock %}
