{% for categories in categorie %} 
     <li>
    <input type="checkbox" name="brands" id="brands-abs" value="">
           <label for=""><span></span>{{ categories.nom }}</label>
    </li>
             {% endfor %}

        <!-- brands widget -->
