{% extends '::layout/layout.html.twig' %}

{% block body %}
   
   <div class="container">
		<div id="content">
			<div class="row">
                		<div class="row">
					<div class="col-sm-4">
                                            <form action="" method="post">
                                            {{ form(form) }}    
                                            </form>
					 
					</div>
						<div class="col-sm-8">
							<div class="single-item-body">
								<p class="single-item-title"></p>
								<p class="single-item-price">
									
								</p>
							</div>

						                </div>
   </div>
                        </div>
                </div>
   </div>
    
{% endblock %}

